body{
    background-color:lightgrey;
}
h1{
    width: 400px;
    margin: auto;
    text-align:center;
}
form{
    width: 400px;
    margin: auto;
    margin-top: 90px;
    background-color: white;
    padding: 30px;
}
div{
    margin-bottom: 10px;
}
button{
    background-color: green;
    color:white;
    width: 100%;
    margin: auto;
    padding :5px;
}
input,select{
    width:100%;
    padding:5px;
    box-sizing: border-box;
}