body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    width: 300px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px gray;
}
input, button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
#captchaBox {
    margin-top: 10px;
    font-weight: bold;
    background: #ddd;
    padding: 5px;
    text-align: center;
    letter-spacing: 3px;
}
#step2 {
    display: none;
}